File_Name_Formatter_1.json
{
  "name": "File_Name_Formatter_1",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMonth"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1fSTfhdNizhTfcM6atLb5njPdhSa9a_tN",
          "mode": "list",
          "cachedResultName": "Uploads",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1fSTfhdNizhTfcM6atLb5njPdhSa9a_tN"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "275bbad0-4fda-44c9-9b83-d3fee37539e9",
      "name": "Google Drive Trigger",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "K2nbFv4jv9gS9oEO",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Gather all incoming items\nconst items = $input.all();\n\n// Map over each uploaded file\nconst renamed = items.map(item => {\n  const name = item.json.name?.split('.')[0] || 'file';\n  const ext  = item.json.name?.split('.').pop() || '';\n  const date = new Date().toISOString().split('T')[0];\n\n  return {\n    json: {\n      id: item.json.id,\n      newName: `${name}_${date}.${ext}`\n    }\n  };\n});\n\n// Always return an array of { json: {...} } objects\nreturn renamed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "888a7860-0e15-4e9b-a609-0921ba26aca3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json[\"id\"]}}",
          "mode": "id"
        },
        "newUpdatedFileName": "={{ $json[ \"newName\" ]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "9a4d1f8e-ec05-4e43-a520-3694a5434f3f",
      "name": "Update file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "K2nbFv4jv9gS9oEO",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "451e1071-5b76-4282-a490-7c06dbc920e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "91c7bbe549e6b1ce176a6cba870e18b1a9397b8b96abba762c4236f7d060db36"
  },
  "id": "4KWT4D8eh8CPLijx",
  "tags": []
}